/* .fs-xl {
  font-size: clamp(3rem, 1rem + 4.2vw, 4.5rem);
}
.fs-lg {
  font-size: clamp(2rem, 1rem + 3.5vw, 3rem);
}
.fs {
  font-size: clamp(1.3125rem, 0.875rem + 1.5vw, 2rem);
}
.fs-sm {
  font-size: clamp(1rem, 0.7rem + 1vw, 1.5rem);
}
.fs-xs {
  font-size: clamp(0.75rem, 0.5rem + 1vw, 1.2rem);
} */
